<mat-toolbar color="primary">
    <mat-toolbar-row
      ><span class="toolbar-text">{{ title }}</span>
     
          <span class="spacer" *ngIf="service.isLoggedIn"></span>
        <button *ngIf="service.isLoggedIn"
          class="exit-button"
          mat-raised-button
          color="secondary"
          (click)="service.logout()"
        >
          <mat-icon>power_settings_new</mat-icon>
          Log Out
</button>
      </mat-toolbar-row
    >
  </mat-toolbar>
<router-outlet></router-outlet>